<template>
    <v-form>
        <v-container grid-list-md>
            <v-layout row wrap>
                <v-flex md6 offset-md3 class = "input">
                    <v-text-field v-model="searchingWord" label="Search"/>
                    <v-icon>search</v-icon>
                </v-flex>

                <v-flex md8 offset-md2 class = "listOfTask">
                    <v-list>
                        <v-list-tile
                            v-for="item in items"
                            :key="item.title"
                            class="itemElement"
                        >
                            <v-list-tile-action>
                                <v-btn icon v-on:click = "item.icon = !item.icon">
                                    <v-icon v-if="item.icon" color=blue>check_circle</v-icon>
                                    <v-icon v-else color=red>remove_circle</v-icon>
                                </v-btn>

                            </v-list-tile-action>

                            <v-list-tile-content class="titles">
                                <v-list-tile-title v-html="item.title"></v-list-tile-title>
                                <v-list-tile-sub-title v-html="item.description"></v-list-tile-sub-title>
                            </v-list-tile-content>

                            <v-list-tile-content>
                                <v-list-tile-sub-title v-html="item.endDate"></v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>
                </v-flex>

                <v-flex md6 offset-md3 class = "input">
                    <v-text-field prepend-icon="home"  label="Title" v-model="addingTitle"/>
                </v-flex>
                
                <v-flex md6 offset-md3 class = "input">
                    <v-text-field prepend-icon="info" label="Description" v-model="addingDescription"/>
                </v-flex>
                <v-flex md6 offset-md3>
                    <v-menu
                        v-model="menu2"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                    >
                        <template v-slot:activator="{ on }">
                        <v-text-field
                            v-model="date"
                            label="Date"
                            prepend-icon="event"
                            readonly
                            v-on="on"
                        ></v-text-field>
                        </template>
                        <v-date-picker v-model="date" @input="menu2 = false"></v-date-picker>
                    </v-menu>
                </v-flex>

                <v-flex md6 offset-md3 class = "input" >
                    <v-btn v-on:click="addTask" class="buttonClass" color="info">Add task</v-btn>
                    <v-btn v-on:click="clearDone" class="buttonClass" color="success">Remove done</v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </v-form>
</template>

<script>
  export default {
    name: 'todo-list',
    data () {
        return{
            msg:'Welcome in Todo App',
            items: [],
            itemsCopy:[],
            addingTitle:"",
            addingDescription:"",
            date: new Date().toISOString().substr(0, 10),
            searchingWord:"",
            menu2:false
        }
    },
    methods:{
        addTask:function(){
            if(this.addingTitle!=="" && this.addingDescription!==""&& this.date!==null){
                let item = {icon:false, title:this.addingTitle , description:this.addingDescription, endDate:this.date};
                this.items.push(item);
                this.itemsCopy = this.items;
                this.addingTitle="";
                this.addingDescription="";
                this.date=new Date().toISOString().substr(0, 10);
                this.searchingWord="";
                
            }
        },
        clearDone:function(){
            this.itemsCopy.forEach(element => {
                if(element.icon === true){
                    let index =  this.itemsCopy.indexOf(element);
                    this.itemsCopy.splice(index , 1);
                    this.clearDone();
                }
            });
            this.items = this.itemsCopy;
        }
    },
    watch:{
        searchingWord:function(){
            this.items = [];
            if(this.searchingWord !== ""){
                if(this.itemsCopy.length>0){
                    (this.itemsCopy).forEach(element => {
                        if(element.title.toUpperCase().indexOf(this.searchingWord.toUpperCase()) > -1){
                            this.items.push(element);
                        }
                    });
                }
            }
            else{
                this.items = this.itemsCopy;
            }
        },
        date:function(){
            console.log(this.date);
        }
    }
}
</script>

<style scoped>
.input{
    display: flex;
    flex-direction: row
}
.listOfTask{
    background-color: gray;
}

.itemElement:nth-child(even){
    background-color:rgb(219, 216, 216);
}

.titles{
    width: 70%;
}
</style>
