<template>
  <v-app>
    <v-content class = "container">
      <h1>Todo App</h1>
      <TodoList></TodoList>
    </v-content>
  </v-app>
</template>

<script>
import TodoList from './components/ToDoList'

export default {
  name: 'App',
  components: {
    TodoList
  },
  data () {
    return {
      
    }
  }
}
</script>
<style>

.container {
  display: flex;  
  align-items: center;
  justify-content: center;
  top:0;
  text-align: center;
}

</style>